html{
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
	bgcolor: #e9ebee;

}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: .3s;
}

.input-div>div {
  position: relative;
  height: 45px;
}

.input-div>div>h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 18px;
  transition: .3s;
}

.input-div:before, .input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #3a9c3a;
  transition: .4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
  width: 50%;
}

.input-div.focus>div>h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus>.i>i {
  color: #3a9c3a;
}

.input-div>div>input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: 'poppins', sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: inline-block;
  text-align: right;
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
  transition: .3s;
}

a:hover {
  color: #3a9c3a;
}


.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

h4 {
  background: #555;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(#3a9c3a, #3a9c3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textpart {
  margin-bottom: 70px;
}

.textpartc {
  margin-bottom: 50px;
}

.userType, .gender {
  text-align: left;
  margin: 10px 0px 15px 0px;
}

#female {
  margin-left: 46.5px;
}

#student {
  margin-left: 20px;
}

label {
  color: #555;
}

.userType, .gender {
  margin-left: 9px;
}

#email {
  margin-top: 15px;
}

.fa-envelope-open-text {
  margin-top: 30px;
}

#avatarimg {
  margin-left: 25px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.dropdown-menu{
  text-align: center;
}
.posts{
  border: solid 1px #000;
  text-align: center;
  display:block;
  text-align: center;
  margin-top: 20px;
  width: 60%;
  margin-left: 20%

}
.post{
  /* border: solid 1px #eb0707; */
  /* display: inline-block; */
  margin-top: 20px;
}
.posting{
  margin-top: 20px;
}
.header{
  text-align: left;
  margin-left: 20px;
  /* background-color: #000; */
  display: inline-block;
}
.header img{
  border-radius: 20px;
  margin: 5px;
}
.timestampContent{
  display: block;
  /* margin-left: 50px; */
  padding-bottom: -20px;
  font-size: 12px;
  color: #949faf;
}
.timestamp{
  /* border: solid 1px #000; */
  text-align: left;
  margin-top: 10px;
  margin-left: 3px;

}
.card-body{
  /* margin: 5px 10px; */
  text-align:left;
  padding-top: 0px;
}
#signup a{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    transition: .3s;

  }
  #signup a:hover {
    color: #3a9c3a;
  }
.right-box{
  margin-top: 40px;
}
.joinbtn{
  /* margin-top: 20%; */
  /* margin-right: 200%; */
}
.like-button{
  /* margin-top: 30px; */
  border: 0;
  display: inline-block;
  background-color: white;

}
.my-footer{
  display: inline-block;
  background-color: inherit;
  /* border: solid 1px black; */
}
.row{
  /* display: block; */
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  color: white;
  display: inline-block;
  background: -webkit-linear-gradient(top, #3a9c3a, #3a9c3a);
  border: 1px solid #3a9c3a;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #3a9c3a;
  font-weight: 700;
  font-size: 10pt;
}
#file-upload-button{
  background-color: red;
}
