html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: roboto;
}
.col {
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.left-side, .right-side {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.welcomeText{
  margin-top: 20%;
}

.right-side {
  padding: 0;
  margin: 0;
  text-align: center;

}

#exampleInputEmail1 {
  margin-left: 31%;
  border-radius: 25px;
  width: 40%;
}

#exampleInputPassword1 {
  margin-left: 31%;
  border-radius: 25px;
  width: 40%;
}

h4 {
  background: -webkit-linear-gradient(#F53232, #E89078);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#808080, #888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  /* max-width: 100%; */
  max-height: 100%;
  /* display: block; */
  margin-left: 100px;
  margin-right: 0px;
}

.placeicons{
  font-family: fontawesome;
}
.container {
  position: relative;
  text-align: center;
  position: static;

}
.rightText {
  position: absolute;
  font-family: roboto;
  font-weight: 20;
  font-size: 30px;
  bottom: 60%;
  color: white;
}
#rightp{
  color: black;
}
h5,h2{
  margin-left: 100px;
  margin-bottom: 20px;
}
#signup{
  margin-top: 5px;
}
a {   background: -webkit-linear-gradient(#F53232, #E89078);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
